{% extends "templates/web.html" %}
{% block title %}{{ _("Service Job Cards") }}{% endblock %}

{% block page_content %}
<h1>{{ _("Service Job Cards") }}</h1>
<div data-doctype="{{ doctype }}" data-txt="{{ (txt or '') | e }}">
	{% if not result -%}
	<div class="text-muted">{{ no_result_message or _("Nothing to show") }}</div>
	{% else %}
	<div class="result">
		{% for item in result %}
		{{ item }}
		{% endfor %}
	</div>
	{% endif %}
	<button class="btn btn-light btn-more my-4 {% if not show_more -%} hidden {%- endif %}">{{ _("Load More") }}</button>
</div>
{% endblock %}
